In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from extract_feats import *

In [3]:
df = pd.read_csv('data/training.csv')
df

                                                    text  label
0                                i didnt feel humiliated      0
1      i can go from feeling so hopeless to so damned...      0
2       im grabbing a minute to post i feel greedy wrong      3
3      i am ever feeling nostalgic about the fireplac...      2
4                                   i am feeling grouchy      3
...                                                  ...    ...
15995  i just had a very brief time in the beanbag an...      0
15996  i am now turning and i feel pathetic that i am...      0
15997                     i feel strong and good overall      1
15998  i feel like this was such a rude comment and i...      3
15999  i know a lot but i feel so stupid because i ca...      0

[16000 rows x 2 columns]

In [4]:
test = pd.read_csv('data/test.csv')
test

                                                   text  label
0     im feeling rather rotten so im not very ambiti...      0
1             im updating my blog because i feel shitty      0
2     i never make her separate from me because i do...      0
3     i left with my bouquet of red and yellow tulip...      1
4       i was feeling a little vain when i did this one      0
...                                                 ...    ...
1995  i just keep feeling like someone is being unki...      3
1996  im feeling a little cranky negative after this...      3
1997  i feel that i am useful to my people and that ...      1
1998  im feeling more comfortable with derby i feel ...      1
1999  i feel all weird when i have to meet w people ...      4

[2000 rows x 2 columns]

In [5]:
label_mapping = {0: 'sadness', 1: 'joy', 2: 'love', 3: 'anger', 4: 'fear'}

In [22]:
'''
features = {'anger': 0, 'anticipation': 1, 'disgust': 2, 'fear': 3, 'joy': 4, 'sadness': 5,
            'surprise': 6, 'trust': 7, 'negative': 8, 'positive': 9, 'CC': 10, 'IN': 11, 'JJR': 12,
            'JJS': 13, 'PRP': 14, '!': 15, '?': 16}
nrc_pos_feats = extract_nrc_pos_feats(df, features)
nrc_pos_feats
'''

"\nfeatures = {'anger': 0, 'anticipation': 1, 'disgust': 2, 'fear': 3, 'joy': 4, 'sadness': 5,\n            'surprise': 6, 'trust': 7, 'negative': 8, 'positive': 9, 'CC': 10, 'IN': 11, 'JJR': 12,\n            'JJS': 13, 'PRP': 14, '!': 15, '?': 16}\nnrc_pos_feats = extract_nrc_pos_feats(df, features)\nnrc_pos_feats\n"

In [7]:
cleaned_data = cleanData(df)
cleaned_data

                                                    text  label
0                                      didnt feel humili      0
1      go feel hopeless damn hope around someon care ...      0
2                   im grab minut post feel greedi wrong      3
3         ever feel nostalg fireplac know still properti      2
4                                           feel grouchi      3
...                                                  ...    ...
15995  veri brief time beanbag said anna feel like be...      0
15996   turn feel pathet still wait tabl sub teach degre      0
15997                            feel strong good overal      1
15998              feel like thi wa rude comment im glad      3
15999                know lot feel stupid becaus portray      0

[16000 rows x 2 columns]

In [9]:
cleaned_test = cleanData(test)
cleaned_test

                                                   text  label
0            im feel rather rotten im veri ambiti right      0
1                      im updat blog becaus feel shitti      0
2     never make separ becaus ever want feel like asham      0
3     left bouquet red yellow tulip arm feel slightl...      1
4                            wa feel littl vain thi one      0
...                                                 ...    ...
1995  keep feel like someon unkind wrong think get b...      3
1996        im feel littl cranki neg thi doctor appoint      3
1997              feel use peopl give great feel achiev      1
1998  im feel comfort derbi feel though start step s...      1
1999  feel weird meet w peopl text like dont talk fa...      4

[2000 rows x 2 columns]

In [11]:
X_train, y_train, vectorizer = createBoWFeatureVec(cleaned_data)

In [12]:
X_train, y_train

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]]),
 array([0, 0, 3, ..., 1, 3, 0]))

In [13]:
X_test = vectorizer.transform(cleaned_test['text']).toarray()
y_test = cleaned_test.loc[:, 'label'].values
X_test, y_test

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]]),
 array([0, 0, 0, ..., 1, 1, 4]))

In [14]:
X_train2, y_train2, vectorizer2 = createTfIdfFeatureVec(cleaned_data)

In [15]:
X_train2, y_train2

(array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]),
 array([0, 0, 3, ..., 1, 3, 0]))

In [16]:
X_test2 = vectorizer2.transform(cleaned_test['text']).toarray()
y_test2 = cleaned_test.loc[:, 'label'].values
X_test2, y_test2

(array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]),
 array([0, 0, 0, ..., 1, 1, 4]))

In [17]:
clf, accuracy = trainLogisticRegression(X_train, X_test, y_train, y_test)

In [18]:
clf2, accuracy2 = trainLogisticRegression(X_train2, X_test2, y_train2, y_test2)

In [20]:
accuracy # using BoW

0.86

In [21]:
accuracy2 #using TfIdf

0.842